{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mb-2 text-primary"> AJOUTER UN ARTICLE  </h1>
    {{ include('_default/_form.html.twig', {'button_label': 'Ajouter'}) }}
{% endblock %}